doctype html
html(lang=de)
    head
        title X1 Applikation
        script(src='/client/js/x1/x1.bootstrap.js')
        script(src='/client/js/js.js')
    body
        h1 Hallo Welt
        p Hier is eine X1 Applikation

